<% title 'Your Guests - Pending Arrival' %>
<% noindex %>
<%= render 'layouts/header' %>

<div class="subnav desktop-visible">
  <ul class="subnav-list">
    <div class="container">
      <li><%= link_to "Your Guests", reservations_path, class: "subnav-item zeroLeft active" %></li>
      <li><%= link_to "Your Listings", listings_path, class: "subnav-item" %></li>
      <li><%= link_to "Your Staycations", upcoming_path, class: "subnav-item" %></li>
      <li><%= link_to "Your Account", edit_user_path(current_user), class: "subnav-item" %></li>
    </div>
  </ul>
</div>
<div id="mobile-subnav" class="mobile-visible">
  <ul class="nav navbar-nav">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Your Guests <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Pending Arrival", reservations_path %></li>
        <li><%= link_to "Checked In", checked_in_path %></li>
        <li><%= link_to "Checked Out", checked_out_path %></li>
        <li><%= link_to "Cancelled", guest_cancelled_path %></li>
        <li><%= link_to "No Shows", no_shows_path %></li>
      </ul>
    </li>
  </ul>
</div>
<div class="container">
<div class="row">
  <div class="col-md-2 desktop-visible">
    <ul class="sidebar-list">
      <li><%= link_to "Pending Arrival", reservations_path, class: "active" %></li>
      <li><%= link_to "Checked In", checked_in_path %></li>
      <li><%= link_to "Checked Out", checked_out_path %></li>
      <li><%= link_to "Cancelled", guest_cancelled_path %></li>
      <li><%= link_to "No Shows", no_shows_path %></li>
    </ul>
  </div>
  <div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pending Arrival</h3>
    </div>
    <div id="table-wrapper" class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Check In</th>
            <th>Room</th>
            <th>Customer</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action Required</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.id %></td>
              <td>
                <%= "#{booking.check_in.strftime("%b %d, %Y - %l:%M %p")}" %>
                <p><small><%= "#{booking.guest} guest for #{booking.duration} hour" %></small></p>
              </td>
              <td><%= link_to booking.room_name, room_path(id: booking.room_id, start_date: Date.today, duration: 3) %></td>
              <td>
                <%= "#{booking.first_name} #{booking.last_name}" %>
                <p><small><b><%= booking.booking_code %></b></small></p>
              </td>
              <td>
                <b><%= booking.subtotal.format(symbol_before_without_space: false) %></b>
                <p><small>DEP: RM 100.00</small></p>
              </td>
              <td><%= booking.status %></td>
              <td>
                <%= form_tag update_status_path(id: booking) do %>
                  <%= submit_tag "Check In", data: { confirm: 'Your confirm message' }, class: "btn btn-sm btn-success" %>
                  <%= submit_tag "No Show", data: { confirm: 'Your confirm message' }, class: "btn btn-sm btn-default" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
    
  </div>
</div>
</div>