<% title 'Your Staycations - Upcoming' %>
<% noindex %>
<%= render 'layouts/header' %>

<div class="subnav desktop-visible">
  <ul class="subnav-list">
    <div class="container">
      <li><%= link_to "Your Guests", reservations_path, class: "subnav-item zeroLeft" %></li>
      <li><%= link_to "Your Listings", listings_path, class: "subnav-item" %></li>
      <li><%= link_to "Your Staycations", upcoming_path, class: "subnav-item active" %></li>
      <li><%= link_to "Your Account", edit_user_path(current_user), class: "subnav-item" %></li>
    </div>
  </ul>
</div>

<div id="mobile-subnav" class="mobile-visible">
  <ul class="nav navbar-nav">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Your Staycations <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Upcoming", upcoming_path %></li>
        <li><%= link_to "Departed", departed_path %></li>
        <li><%= link_to "Cancelled", cancelled_path %></li>
      </ul>
    </li>
  </ul>
</div>

<div class="container">
<div class="row">
  <div class="col-md-2 desktop-visible">
    <ul class="sidebar-list">
      <li><%= link_to "Upcoming", upcoming_path, class: "active" %></li>
      <li><%= link_to "Departed", departed_path %></li>
      <li><%= link_to "Cancelled", cancelled_path %></li>
    </ul>
  </div>
  <div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upcoming</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Check In</th>
              <th>Room</th>
              <th>Booking Code</th>
              <th>Price</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.id %></td>
                <td>
                  <%= "#{booking.check_in.strftime("%b %d, %Y - %l:%M %p")}" %>
                  <p><small><%= "2 guests for #{booking.duration} hours" %></small></p>
                </td>
                <td><%= link_to booking.room_title, room_path(id: booking.room_id, start_date: Date.today, duration: 3) %></td>
                <td>
                  <b><%= booking.booking_code %></b>
                </td>
                <td>
                  <b><%= booking.subtotal.format(symbol_before_without_space: false) %></b>
                  <p><small>DEP: RM 100.00</small></p>
                </td>
                <td>
                  <%= form_tag cancel_booking_path(id: booking) do %>
                    <%= submit_tag "Cancel", data: { confirm: 'Your confirm message' }, class: "btn btn-danger full-width" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
</div>