<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>HOUR</b>BEDS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "REGISTER", new_user_registration_path %></li>
        <li><%= link_to "LOGIN", new_user_session_path %></li>
      </ul> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-full">
<div class="row">
  <div class="col-md-3 zeroRight desktop-visible">
    <div class="filterbar">
      MODIFY SEARCH<span class="glyphicon glyphicon-chevron-down glyphRight" aria-hidden="true"></span> 
    </div>
  </div>
  <div class="col-md-9 zeroLeft">
    <div class="infobar">
      Showing 1 - 1 of 1 results for Kota Kinabalu
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 zeroRight desktop-visible">
    <div class="sidebar">
      <div style="padding: 15px;">
      <%= search_form_for @search, url: area_path(@area), html: { method: :get } do |f| %>
        <div class="row">
          <div class="col-md-6 padRight-5">
            <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, "id", "name", @search.area_id_eq), {:prompt => "Select destination"}, class: "form-input select-fix marBot-10 noBor" %>
          </div>
          <div class="col-md-6 padLeft-5">
            <%= select_tag :duration, options_for_select(Area::DURATION_SELECT), prompt: "Select duration", class: "form-input select-fix marBot-10 noBor" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 padRight-5">
            <%= text_field_tag :date, params[:date], placeholder: 'Select date', autocomplete: 'off', readonly: true, class: "form-input marBot-15 noBor datepicker1" %>
          </div>
          <div class="col-md-6 padLeft-5">
            <%= select_tag :time, options_for_select(Area::TIME_SELECT), prompt: "Select time", class: "form-input select-fix marBot-15 noBor" %>
          </div>
        </div>  
          
          <%= button_tag "Find Rooms", data: {disable_with: "WAIT..."}, class: "btn btn-lg btn-danger full-width" %>
      <% end %>
      </div>
      <br>
      <div class="filter-bar">
        REFINE CURRENT SEARCH<span class="glyphicon glyphicon-chevron-right glyphRight" aria-hidden="true"></span> 
      </div>
      <div style="padding: 15px;">
      <%= search_form_for @search, url: area_path(@area), html: { method: :get } do |f| %>
        <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, "id", "name", @search.area_id_eq), {:prompt => "Select destination"}, class: "form-input select-fix marBot-10 noBor" %>
        <div class="text-right">
        <%= button_tag "Update", data: {disable_with: "WAIT..."}, class: "btn btn-default" %>
         </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="roomWrapper">
    <div class="row">
      <% @rooms.each do |room| %>
      <div class="col-md-6">
      <%= link_to room_path(room), target: "_blank" do %>
        <div class="room-wrapper">
          <%= image_tag('bg.jpg') %>

          <div class="room-description">
            <div class="listing-price">
              <span class="ribbon ribbon-pale-green">MYR 50.00 <sub>/ 3 hours</sub></span> 
            </div>
            <h1><%= room.name %> Double Room</h1>
            <p>Beverly Hills, Kota Kinabalu
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>

<script>
  $(document).ready(function(){
    $('.datepicker1').datepicker({
      format: 'yyyy-mm-dd',
      startDate: "+0d",
      endDate: "+90d",
      orientation: "left bottom",
      /* datesDisabled: ["2015-11-07","2015-11-10"], */
      /* daysOfWeekDisabled: "06", */
      /* daysOfWeekDisabled: "12345", */
      weekStart: "1",
      autoclose: true,
    });
  });
</script>