<% title 'Log In' %>
<% noindex %>
<%= render 'layouts/header' %>
<div id="log-panel" class="container">
<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Log In</h3>
  </div>
  <div class="panel-body">
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-group">
	    <%= f.input :email, required: false, input_html: {class: "form-control"} %>
	  </div>
	  <div class="form-group">
	    <%= f.input :password, required: false, input_html: {class: "form-control"} %>
	  </div>
	  <div class="form-group">
	    <div class="checkbox checkbox-success">
	      <%= f.check_box :remember_me, {checked: false} %>
	      <label>Keep me logged in</label>
	    </div>
	  </div>  

	  <div class="form-group">
	    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
	  </div>
	<% end %>
    <hr>
	<%= render "devise/shared/links" %>
  </div>
</div>
</div>