<% title 'Your Listings - Active Listings' %>
<% noindex %>
<%= render 'layouts/header' %>

<div class="subnav desktop-visible">
  <ul class="subnav-list">
    <div class="container">
      <li><%= link_to "Your Guests", reservations_path, class: "subnav-item zeroLeft" %></li>
      <li><%= link_to "Your Listings", listings_path, class: "subnav-item active" %></li>
      <li><%= link_to "Your Staycations", upcoming_path, class: "subnav-item" %></li>
      <li><%= link_to "Your Account", edit_user_path(current_user), class: "subnav-item" %></li>
    </div>
  </ul>
</div>
<div id="mobile-subnav" class="mobile-visible">
  <ul class="nav navbar-nav">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Your Listings <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Active Listings", listings_path %></li>
        <li><%= link_to "Inactive Listings", inactive_listings_path %></li>
        <li><%= link_to "Add New Listing", new_room_path %></li>
      </ul>
    </li>
  </ul>
</div>
<div class="container">
<div class="row">
  <div class="col-md-3 desktop-visible">
    <ul class="sidebar-list">
      <li><%= link_to "Active Listings", listings_path, class: "active" %></li>
      <li><%= link_to "Inactive Listings", inactive_listings_path %></li>
    </ul>
    <br>
    <%= link_to "Add New Listing", new_room_path, class: "btn btn-lg btn-primary full-width" %>
  </div>
  <div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Active Listings</h3>
    </div>
    <div class="panel-body">
      <% @rooms.each do |room| %>
        <div class="listing-wrapper">
          <div class="row">
            <div class="col-md-3 desktop-visible">
              <%= image_tag room.cover.url %>
            </div>
            <div class="col-md-7">
              <h4><%= room.name %></h4>
              <p><small><%= room.title %></small></p>
              <p><%= link_to "Edit Calendar", calendar_path(room) %> | <%= link_to "Edit Listing", edit_room_path(room) %></p>
            </div>
            <div class="col-md-2">
              <%= form_tag update_listing_status_path(id: room) do %>
                <%= submit_tag "Deactivate", class: "btn btn-default full-width" %>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
    <% end %>
    </div>
  </div>
    
  </div>
</div>
</div>
