<% title 'New Listing - About' %>
<% noindex %>

<nav class="navbar navbar-default" role="navigation" id="navbar-book">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><b>HOUR</b>BEDS</a>
    </div>
  </div>
</nav>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-steps">
      <li class="done">
        <b>Step 1</b>
        <span class="float-right">Basic Info</span>
      </li>
      <li class="active">
        <b>Step 2</b>
        <span class="float-right">About Listing</span>
      </li>
      <li>
        <b>Step 3</b>
        <span class="float-right">Tariff / Pricing</span>
      </li>
      <li>
        <b>Step 4</b>
        <span class="float-right">Photos</span>
      </li>
    </ul>
    <br>
  </div>
  <div class="col-md-6">
    <%= simple_form_for @room, url: wizard_path do |f| %>
      <div class="form-group">
        <%= f.input :title, required: true, label: "Title", input_html: {class: "form-control"} %>
        <div class="marTop-10"><%= image_tag 'lightbulb.png', class: "icon-sm" %> <small><b>Fact:</b> descriptive titles get booked five times more often than “John’s Hotel”.</small></div>
      </div>
      <br>
      <div class="form-group">
        <%= f.input :description, required: true, label: "Desription", placeholder: "Tell the guests a little more about your listing.", input_html: {rows: 6, class: "form-control"} %>
        <div class="marTop-10"><%= image_tag 'lightbulb.png', class: "icon-sm" %> <small><b>Fact:</b> the more detailed the desription is, the more likely your room will get booked.</small></div>
      </div>
      <br>
      <label>Amenities & Facilities</label>
      <div class="amenities-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="checkbox checkbox-success">
            <%= check_box_tag :free_wifi, params[:free_wifi], params[:free_wifi] %>
            <label>Wireless Internet</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :free_airport_shuttle, params[:free_airport_shuttle], params[:free_airport_shuttle] %>
            <label>Airport Shuttle</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :outdoor_pool, params[:outdoor_pool], params[:outdoor_pool] %>
            <label>Outdoor Pool</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :restaurant, params[:restaurant], params[:restaurant] %>
            <label>Restaurant</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :beauty_center, params[:beauty_center], params[:beauty_center] %>
            <label>Beauty Center</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :massage, params[:massage], params[:massage] %>
            <label>Massage</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :balcony, params[:balcony], params[:balcony] %>
            <label>Balcony</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :jacuzzi, params[:jacuzzi], params[:jacuzzi] %>
            <label>Jacuzzi</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkbox checkbox-success">
            <%= check_box_tag :free_parking, params[:free_parking], params[:free_parking] %>
            <label>Parking Facilities</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :meeting_rooms, params[:meeting_rooms], params[:meeting_rooms] %>
            <label>Meeting Rooms</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :indoor_pool, params[:indoor_pool], params[:indoor_pool] %>
            <label>Indoor Pool</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :bar, params[:bar], params[:bar] %>
            <label>Bar</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :sauna, params[:sauna], params[:sauna] %>
            <label>Sauna</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :spa, params[:spa], params[:spa] %>
            <label>Spa</label>
          </div>
          <div class="checkbox checkbox-success">
            <%= check_box_tag :kitchen, params[:kitchen], params[:kitchen] %>
            <label>Kitchen</label>
          </div>
        </div>
      </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.button :submit, "Save & Proceed", class: "btn-lg btn-success" %>
      </div>

        
    <% end %>
  </div>
</div>
</div>